@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
    :root {
      --navy-blue: #001C99;
      --golden-yellow: #F4BB29;
      --background: #f4f4ee;
    }
    body {
      background-color: var(--background);
      min-height: 100vh;
      margin: 0;
      padding: 0;
    }



    header {
      width: 100%;
      position: relative;
      z-index: 1000;
      padding: 1rem 1.5rem;
      color: var(--navy-blue);
    }

    .sidenav {
      height: 100%; /* 100% Full-height */
      width: 0;
      position: fixed; /* Stay in place */
      top: 0; /* Stay at the top */
      left: 0;
      background-color: #f4f4ee;
      overflow-x: hidden; /* Disable horizontal scroll */
      padding-top: 60px; /* Place content 60px from the top */
      transition: width 0.5s; /* 0.5 second transition effect to slide in the sidenav */
      z-index: 999;
    }

    #menu-icon {
      margin: auto;
      position: absolute;
      top: 20px; /* Add this */
      left: 20px;
      font-size: 40px;
      margin-left: 10px;
      cursor: pointer;
    }

    header h1 {
      font-size: 40px;
      font-weight: bold;
      align-items: center;
      margin: 0 auto;
      font-family: Arimo;
      color: var(--navy-blue);
      display: flex;
    }
    .head-portion {
      position: relative;
      padding: 0;
      width: fit-content;
      margin: 0 auto;
      padding-bottom: 0;
      height: 0;

    }

    .portfolio-letters {
      display: flex;
      font-size: 250px;
      font-weight: 500;
      color: var(--navy-blue);
      position: relative;
      font-family: "Bodoni 72";
      margin-top: 0;
      padding: 0;
    }

    .portfolio-letters.top, .portfolio-letters.bottom {
            transform: translateY(-900px);

    }

    .portfolio-letters.top {
      display: flex;
      padding: 0;
      margin-top: 0px;
      left: 25px;
    }
    
    .portfolio-letters.bottom {
      display: flex;
      padding: 0;
      margin: 0;
    }

    .portfolio-letters p {
      margin: 0;
    }
    
    
    #P {
      transform: rotate(-22deg);
      top: 40px;
      position: relative;
    }

    #o1 {
      transform: rotate(20deg);
      top: -60px;
      position: relative;
    }
    #r {
      transform: rotate(-24deg);
      top: 30px;
      position: relative;
      left: -40px;
    }
    #t {
      transform: rotate(19deg);
      top: -37px;
      left: -20px;
      position: relative;
    }
    #f {
      transform: rotate(20deg);
      position: relative;
      left: -23px;
      top: -25px;
    }
    #o2 {
      transform: rotate(-12deg);
      position: relative;
      top: -40px;
      left: -10px;
    }
    #l {
      transform: rotate(-12deg);
      position: relative;
      left: -10px;
      top: -20px;
    }
    #i {
      transform: rotate(5deg);
      position: relative;
      left: 5px;
      top: -25px;
    }
    #o3 {
      transform: rotate(20deg);
      position: relative;
      top: -27px;
      left: 7px;
    }
    .letter {
      padding-right: 20px;
      padding-top: 0;
      padding-bottom: 0;
      position: relative;
    }

    .p-6 {
      padding: 1.5rem;
    }

    .w-32 {
      width: 8rem;
    }

    .h-32 {
      height: 8rem;
    }

    .categories-link {
      text-align: center;
      position: absolute;
      font-size: 60px;
      font-weight: 600;
      font-family: Arimo;
      text-decoration: none;
      color: var(--navy-blue);
      background-color: var(--background);
      z-index: 1;
      white-space: nowrap;
      align-items: center;
      padding: 10px 80px;
    }
    .categories {
      display: flex;
      padding: 0;
      transform: translateY(900px);
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 0 auto;
    }

    .yolk-container {
      position: relative;
    }
    
    .yolk-1 {
      background-color:#F4BB29;
      border-radius: 50%;
      transform: translate(215px, -252px);
      position: absolute;
      width: 30px;
      height: 30px;
      margin: 0;
    }

    .yolk-2 {
      background-color:#F4BB29;
      border-radius: 50%;
      top: 105px;
      transform: translateX(430px);
      position: absolute;
      width: 30px;
      height: 30px;
      margin: 0;
    }

    .circle {
      border: 1px solid red;
      border-radius: 50%;
      width: 300px;
      height: 300px;
      position: absolute;
    }

    .inner-circle {
      border: 1px solid red;
      clip-path: polygon(50% 0%, 100% 0%, 100% 50%, 50% 50%, 0% 50%, 0% 100%, 50% 100%, 50% 50%);
      border-radius: 50%;
      width: 250px;
      height: 250px;
      position: absolute;
      z-index: 0;
    }
    
    .category-group {
      align-items: center;
      display: flex;
      justify-content: center;
      margin: 0 auto;
      max-width: 100%;
      flex-direction: column;
    }
    .category-group:hover {
      transform: scale(1.1);
      transition: transform 0.3s;
    }
    .circle-group {
      align-items: center;
      justify-content: center;
      position: relative;
      display: flex;
      width: 300px;
      height: 300px;
    }

    #wavy-line {
      position: relative;
      left: 30px;
      top: 20px;
      margin: 0;
      padding-bottom: 0;
    }

    #wavy-line-2 {
      position: relative;
      left: -100px;
      top: -190px;
      margin: 0;
    }

    #little-wave-1, #little-wave-2, #little-wave-3 {
      position: relative;
      margin: 0;
      padding: 0;
    }
    #little-wave-1 {
      bottom: 250px;
      left: 75px;
      transform: rotate(32deg);
    }
    #little-wave-2 {
      top: 30px;
      right: 35px;
    }
    #little-wave-3 {
      left: 53px;
    }

    /* The side navigation menu */


.page-heading h1 {
  pointer-events: none;
}


.sidenav.open {
  width: 250px;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: var(--navy-blue);
  display: block;
  transition: 0.3s;
  font-family: Arimo;
  font-weight: bold;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}



/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}