@import url("https://fonts.googleapis.com/css2?family=Abel&family=Arimo:ital,wght@0,400..700;1,400..700&family=Pixelify+Sans:wght@400..700&family=Shrikhand&display=swap");

    :root {
      --navy-blue: #001C99;
      --golden-yellow: #F4BB29;
      --background: #f4f4ee;
    }

    *, *::before, *::after {
      box-sizing: border-box;
    }

    html, body {
      overflow-x: hidden;
    }
    body {
      background-color: var(--background);
      min-height: 100vh;
      margin: 0;
      padding: 0;
    }



    header {
      width: 100%;
      position: relative;
      padding: 1rem 1.5rem;
      color: var(--navy-blue);
      box-sizing: border-box;
    }

    .sidenav {
      height: 100%; /* 100% Full-height */
      width: 0;
      position: fixed; /* Stay in place */
      top: 0; /* Stay at the top */
      left: 0;
      background-color: #f4f4ee;
      overflow-x: hidden; /* Disable horizontal scroll */
      padding-top: 60px; /* Place content 60px from the top */
      transition: width 0.5s; /* 0.5 second transition effect to slide in the sidenav */
      z-index: 999;
    }

    #menu-icon {
      margin: auto;
      position: absolute;
      top: 20px; /* Add this */
      left: 20px;
      font-size: 40px;
      margin-left: 10px;
      cursor: pointer;
    }

    .site-header {
      font-size: 40px;
      font-weight: bold;
      align-items: center;
      margin: 0 auto;
      font-family: "Shrikhand";
      color: var(--navy-blue);
      display: flex;
      cursor: pointer;
      text-decoration: none;
    }

    .site-header h1 {
      font-family: "Shrikhand";
    }

    .name {
      font-family: "Shrikhand";
      font-size: 200px;
      text-align: center;
      position: relative;
      display: flex;
      justify-content: center;
    }

    .blue-name {
      color: var(--navy-blue);
      position: absolute;
      margin: 0;
      padding: 0;
      z-index: 1;

    }




.echo-wrap {
  position: relative;
  width: 100%;
  height: 300px;
    text-align: center;

}

.echo-layer {
  position: absolute;
  top: 0;
  left: 50%;
  margin: 0;
  white-space: wrap;

  font-family: "Shrikhand";
  font-size: clamp(60px, 14vw, 200px);

  color: transparent;
  -webkit-text-stroke: 1px #FA8072;
}

.echo-layer.front {
  color: #001C99;
  -webkit-text-stroke: 0;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
}



    /* The side navigation menu */


.page-heading h1 {
  pointer-events: none;
}


.sidenav.open {
  width: 250px;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: var(--navy-blue);
  display: block;
  transition: 0.3s;
  font-family: Arimo;
  font-weight: bold;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}



/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}